{{ 'section-choose-your-rig.css' | asset_url | stylesheet_tag }}

<div class="choose-your-rig-section">
  <div class="container page-width">
    <h2 class="section-title">Choose Your Rig</h2>
    <div class="rig-cards">
      {% for block in section.blocks %}
        <div class="rig-card color-{{ block.settings.color_scheme }}" id={{ block.id }}>
          <div class="card-media">
            {{
              block.settings.video
              | video_tag:
                image_size: '400x',
                autoplay: false,
                loop: true,
                controls: true,
                muted: true,
                class: 'card-video'
            }}
          </div>
          <div class="rig-info" id="content-{{ block.id }}">
            <h2>{{ block.settings.title }}</h2>
            <p class="rig-spec">{{ block.settings.subtitle }}</p>
            <div class="rig-spec extra-specs--hidden" id="extra-specs-{{ block.id }}">
              <hr style="margin-top: 10px; margin-bottom:10px;">
              {{ block.settings.extra_specs }}          
            </div>
          </div>
          
          <div class="buttons">
            {% if block.settings.button_link %}
               {% assign button_style = 'button--primary' %}
               {% assign button_behavior = 'href=' | append: block.settings.button_link | escape %}         
            {% else %}    
                {% assign button_style = 'button--secondary' %}
                {% assign button_behavior = 'onclick="changeContent(this)"' %}
            {% endif %}
            <a class="card-button button color-scheme-6 {{ button_style }}" id="button-{{ block.id }}" {{ button_behavior }} >{{ block.settings.button_text }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  // centers the scrolling on the middle card in Choose Your Rig section.
  const element = document.getElementsByClassName('rig-card')[1];
  document.getElementsByClassName('rig-cards')[0].scrollLeft = element.offsetLeft;
</script>


{% schema %}
{
  "name": "Choose Your Rig",
  "settings": [],
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.video.settings.video.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Card Color Scheme"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Card Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Card Subtitle"
        },
        {
          "type": "richtext",
          "id": "extra_specs",
          "label": "Extra Specs"
        }, 
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Show more"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Choose Your Rig",
      "blocks": [
        {
          "type": "card"
        }
      ]
    }
  ]
}
{% endschema %}

