{{ "section-pricing.css" | asset_url | stylesheet_tag }}


<div class="pricing-section">
  <h1 style="color: {{ section.settings.title_color }};">{{ section.settings.title }}</h1>
  <p style="color: {{ section.settings.title_color }};"> {{ section.settings.subtitle }}</p>
  <div class="card-container">
    {% for block in section.blocks %}

      {% if block.type == "pricing_card_2" %}
        <div class="pricing-card fit">
          <div class="title-container center">
            <h2>{{ block.settings.title }}</h2>
          </div>
          <div class="content-container">
            <div class="price-container">
              <div class="price center">
                {{ block.settings.product_option_1.price | money | remove: '.00'}}
                <span class="price-unit">
                  {{ block.settings.price_unit_1 }}
                </span>
              </div>
            </div>
            <div class="divider">
              <hr style="margin-top: 10px; margin-bottom:10px; width: 50%;">
              <p style="margin: 5px;">or</p>
              <hr style="margin-top: 10px; margin-bottom:10px; width: 50%;">
            </div>
            <div class="price-container">
              <div class="price center">
                {{ block.settings.product_option_2.price | money | remove: '.00'}}
                <span class="price-unit">
                  {{ block.settings.price_unit_2 }}
                </span>
              </div>
            </div>
            <button href="{{ block.settings.button_link }}" class="button">{{ block.settings.button_text }}</button>
          </div>
        </div>
      {% else %}
        <div class="pricing-card">
          <div class="title-container">
            <h2>{{ block.settings.title }}</h2>
            <p class="card-subtitle">{{ block.settings.subtitle }}</p>
          </div>
          <div class="content-container">
            <div class="details-container">
              <p class="details-content-header">Includes:</p>
              <div class="details">{{ block.settings.details | newline_to_br }}</div>
            </div>
            <div class="pricing-cta-container">
              <div class="price-container">
                <div class="price">
                  {{ block.settings.product.price | money | remove: '.00'}}
                  <span class="price-unit">
                    {{ block.settings.price_unit }}
                  </span>
                </div>
              </div>
              <button href="{{ block.settings.button_link }}" class="button">{{ block.settings.button_text }}</button>
              <div class="note">&nbsp;{{ block.settings.note }}</div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>



{% schema %}
{
  "name": "Pricing Section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Pricing"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Section Subitle",
      "default": "subtitle"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Section Title Color"
    }
    
  ],
  "blocks": [
    {
      "type": "pricing_card",
      "name": "Pricing Card",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Offer Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "richtext",
          "id": "details",
          "label": "Details"
        },
        {
          "type": "text",
          "id": "price_unit",
          "label": "Price Unit (e.g. /hour)"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "note",
          "label": "Note"
        }
      ]
    },
    {
      "type": "pricing_card_2",
      "name": "Pricing Card 2 Prices",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Offer Title"
        },
        {
          "type": "product",
          "id": "product_option_1",
          "label": "Product Option 1"
        },
        {
          "type": "product",
          "id": "product_option_2",
          "label": "Product Option 2"
        },
        {
          "type": "text",
          "id": "price_unit_1",
          "label": "Price Unit 1 (e.g. /hour)",
          "default": "/hour"
        },
        {
          "type": "text",
          "id": "price_unit_2",
          "label": "Price Unit 2 (e.g. /hour)",
          "default": "/half-hour"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Book now"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Pricing Section",
      "blocks": [
        {
          "type": "pricing_card"
        }
      ]
    }
  ]
}
{% endschema %}
